<form class="row g-2">
        <nav class="navbar navbar-dark bg-primary">
          <div class="container-fluid">
            <legend class="h1-3 mb-2 bg-primary text-white">Validar correo electronico spam</legend>
          </div>
        </nav>
    <div class="container">
    <div class="mb-3">
        <legend class="h1-3 mb-2 bg-primary text-white">Ingrese Email</legend>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
      </div>
      <button type="button" class="btn btn-primary btn-lg">Validar correo spam</button>
    </div> 
  </form>