<form class="row g-2" [formGroup]="formValidar">
        <nav class="navbar navbar-dark bg-primary bg-opacity-75">
          <div class="container-fluid">
            <div class="container">
            <h1 class="text-white"><em>Validar correo electronico spam</em></h1>
            </div>
          </div>
        </nav>
    <div class="container">
    <div class="mb-3">
        <h3 class="h1-5 mb-2 bg-primary text-white bg-opacity-75"><em>Ingrese Email</em></h3>
        <textarea class="form-control" formControlName="email" id="email" rows="12"></textarea>
      </div>
      <button type="button" class="btn btn-primary btn-lg" (click)="ValidarCorreo()">Validar correo spam</button>
        <div *ngIf="response && response.razones">
            <li *ngFor="let item of response.razones; index as i;">{{item}}</li>
        </div>
        <p *ngIf="response && response.error"> Ocurrió un error</p>
    </div>
  </form>