<form class="row g-2" [formGroup]="formValidar">
        <nav class="navbar navbar-dark bg-primary">
          <div class="container-fluid">
            <legend class="h1-3 mb-2 bg-primary text-white">Validar correo electronico spam</legend>
          </div>
        </nav>
        
    <div class="container">
    <div class="mb-3">
        <legend class="h1-3 mb-2 bg-primary text-white">Ingrese Email</legend>
        <textarea class="form-control" formControlName="email" id="email" rows="12"></textarea>
      </div>
      <button type="button" class="btn btn-primary btn-lg" (click)="ValidarCorreo()">Validar correo spam</button>
        <br>
        <div *ngIf="response && response.razones">
            <li *ngFor="let item of response.razones; index as i;">{{item}}</li>
        </div>
        <p *ngIf="response && response.error"> Ocurrió un error</p>
    </div>
  </form>