<div class="container">
  <br>
  <form [formGroup]="form">
    
    <div class="form-group row">
      <h2>Palabras Claves</h2>
      <label for="inputEmail3" class="col-sm-2 col-form-label">#1</label>
      <div class="col-sm-10">
        <input  formControlName="palabraClave1" class="form-control" id="inputEmail3" placeholder="Ingrese la palabra clave #1">
      </div>      
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">#2</label>
      <div class="col-sm-10">
        <input  formControlName="palabraClave2" class="form-control" id="inputPassword3" placeholder="Ingrese la palabra clave #2">
      </div>
    </div>    
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">#3</label>
      <div class="col-sm-10">
        <input class="form-control" formControlName="palabraClave3" id="inputPassword3" placeholder="Ingrese la palabra clave #3">
      </div>
    </div>    

    <div class="form-group row">
      <div class="col-sm-2">Checkbox</div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" formControlName="intercalarMayus" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Intercalar Mayúsculas y minúsculas
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" formControlName="agregarSimbolos" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Agregar símbolos
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" formControlName="noUsarMayusculas" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            No usar mayúsculas
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input"  formControlName="agregarNumeros" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Agregar números
          </label>
        </div>

      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="button" (click)="submit()" class="btn btn-lg btn-success">Generar Contraseña</button>
      </div>
    </div>
  </form>

  <div *ngIf="response">
    <p> La contraseña generada es : </p>
    <h2> {{response.password}}</h2>
  </div>



</div>